@model MM_Kennels.CageResult
@{
    ViewData["Title"] = "AnimalNotScheduled";
}

<h3>@Html.DisplayFor(model => model.Animal.Name) not scheduled!</h3>

<div>
    <a asp-controller="Home" asp-action="Index">Back</a>
</div>
