@model MM_Kennels.AnimalResult
@{
    ViewData["Title"] = "AnimalNotFound";
}

    <h1>@Html.DisplayFor(model => model.Name) not found!</h1>

<div>
    <a asp-controller="Home" asp-action="Index">Back</a>
</div>
