@model MM_Kennels.Animal

@{
    ViewData["Title"] = "RemoveAnimal";
}

<h3>@Html.DisplayFor(model => model.Name) has been removed.</h3>

<div>
    <a asp-controller="Home" asp-action="Index">Back</a>
</div>